@media (max-width: 1135px) {
  .navigation {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .menu-btn {
    display: block;
  }
  .logo {
    margin-right: 0;
  }
  .sub-nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 2rem;
    align-items: flex-start;
    flex-direction: column;
    z-index: 99;
    width: 100%;
    min-width: 20rem;
    background-color: rgb(36, 35, 35);
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  #wallet-btn {
    margin: 0;
  }
  .nav-open .sub-nav {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  /* .nav-open .open-icon {
    display: none;
  } */
  /* .nav-open .close-icon {
    display: block;
  } */

  .nav-links {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .nav-link {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 779px) {
  .heading-subtext {
    line-height: 2.1rem;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .text-box {
    padding: 14rem 0;
  }
  .market-place {
    padding-top: 0;
  }
}
