@media (max-width: 1135px) {
  .navigation {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .menu-btn {
    display: block;
  }
  .logo {
    margin-right: 0;
  }
  .sub-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    padding: 4rem;
    align-items: flex-start;
    flex-direction: column;
    z-index: 99;
    width: 50%;
    min-width: 20rem;
    background-color: #000;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  .nav-open .sub-nav {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  .nav-open .open-icon {
    display: none;
  }
  .nav-open .close-icon {
    display: block;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    /* margin: 9rem 0 0 4rem; */
    position: relative;
  }
  .nav-open #wallet-btn {
    position: absolute;
    top: 50%;
    left: 15%;
  }

  .nav-link {
    margin-bottom: 6rem;
  }
}
@media (max-width: 779px) {
  .heading-subtext {
    line-height: 2.1rem;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .text-box {
    padding: 27rem 0;
  }
}
